@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hey There!!</h1>
    <p>My Name is Anand and this is a test page to display</p>
</div>
